<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="iween Test Suite" parallel="false">
    <parameter name="os" value="Windows" />
    <parameter name="browser" value="chrome" />

    <listeners>
        <listener class-name="com.iween.utilities.ExtentReportManager"/>
    </listeners>

    <test name=" Search Tests">
        <classes>
        <class name="com.iween.testcase.TCCP_1"/>
        </classes>
    </test>
</suite>


